
<!DOCTYPE html>
<html>

<head>

    <title>@ViewBag.Title</title>

</head>
<body style="font-family: 'Trebuchet MS',verdana;">
    <table cellpadding="0" cellspacing="0" style="height: 100%; width: 100%;">
        <tr>
            <td>
                <div style="padding: 20px;padding-top:5px; margin: 20px;margin-top:5px;">
                    @RenderBody()
                </div>
              
            </td>
        </tr>
    </table>
</body>
</html>
