
<ul class="dropdown">
    <li><a href="#">Allocation</a>
        <ul>
            <li><a href="~/Allocation/Index">Allocation Sheet</a>
                <ul>
                </ul>
            </li>
          
        </ul>
    </li>

    <li>
        <a href="#">DownStream</a>
        <ul>
            <li>
                <a href="~/Allocation/MCPE">MCPE</a>
                <ul></ul>
            </li>
            <li>
                <a href="~/Allocation/Exception">Exception</a>
                <ul></ul>
            </li>
            <li>
                <a href="~/Allocation/GL">GL</a>
                <ul></ul>
            </li>
            <li>
                <a href="~/Allocation/WSS">Wall Street</a>
                <ul></ul>
            </li>
            <li>
                <a href="~/Allocation/FinSurv">FinSurv</a>
                <ul></ul>
            </li>
            <li>
                <a href="~/Allocation/REC7">REC7</a>
                <ul></ul>
            </li>
            <li>
                <a href="~/Allocation/Sanctions">Sanctions</a>
                <ul></ul>
            </li>

        </ul>
    </li>
    
</ul>
