* 									{ margin: 0; padding: 0; }
#page-wrap							{  margin: 0px auto; } /*width: 800px;*/
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 0px 0;  }

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; z-index:9999;   }
ul.dropdown li                      { font-weight:bold; font-size:14px;font-family: calibri,arial; float: left; zoom: 1; 
                                      text-align:left; padding:2px 0 2px 10px;   }
ul.dropdown a:hover		            { color: #000;}
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 2px 8px;color: #222; font-size:14px; font-family: calibri,arial; }

ul.dropdown li:last-child a         { border-right: none;  } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative;  } 
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width:220px; visibility: hidden; position: absolute; top: 100%; left:0;}
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; border-top: 1px solid #ccc;float: none;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left:100%; top: 0;}
ul.dropdown li:hover > ul 			{ visibility: visible; }

.arrow {width:10px; height:10px; margin-right:20px; float:right; padding-top:3px; background-image:url(images/arrow_right_peppermint.png); background-repeat:no-repeat; background-position:center; 
        }
 





ul#topnav {
	margin: 0; padding: 0;
	float: left;
	width: 80px;
	list-style: none;	
	position: relative;

}
ul#topnav li {
	float: left;
	margin: 0; padding:3px;
	
	
}
ul#topnav li a {
	padding: 2px 2px;
	display: block;
	color: #000;
	text-decoration: none;
}
ul#topnav li:hover { background:#F3D673; } 
ul#topnav li span {
	float: left;
	padding: 3px;
	position: absolute;
	left: 0; top:23px;
	border-top:1px solid #ccc;
	display: none;
	width: 65px;
	background: #F3D673;
	color: #000;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: none;}
